<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Dynamic Button Movement</title>
</head>
<body>
    <div id="container">
        <img src="{{ url_for('static', filename='pic.png') }}" alt="Cute Picture">

        <h1>Hey Cutie! Will you be my Valentine?</h1>

        <div id="button-container">
            <button id="yesButton" onclick="handleYes()">Yes</button>
            <button id="moveButton">NO</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
